Repository endlessm/everlasting-candy, pull requests merged in 2025-02, with the labels that each got.

#82 Add Cassidy's Purple World
  Worlds/Cassidy's Purple World/0.tscn
  Worlds/Cassidy's Purple World/1.tscn
  Worlds/Cassidy's Purple World/999.tscn
  Worlds/Cassidy's Purple World/Image/Candy.png
  Worlds/Cassidy's Purple World/Image/Candy.png.import
  Worlds/Cassidy's Purple World/Image/Explosion.png
  Worlds/Cassidy's Purple World/Image/Explosion.png.import
  Worlds/Cassidy's Purple World/Image/Goober.png
  Worlds/Cassidy's Purple World/Image/Goober.png.import
  Worlds/Cassidy's Purple World/Image/Player.png
  Worlds/Cassidy's Purple World/Image/Player.png.import
  Worlds/Cassidy's Purple World/Image/Tilemap.png
  Worlds/Cassidy's Purple World/Image/Tilemap.png.import
  Worlds/Cassidy's Purple World/Image/Title.png
  Worlds/Cassidy's Purple World/Image/Title.png.import
  Worlds/Cassidy's Purple World/Scene/Explosion.tscn
  Worlds/Cassidy's Purple World/Scene/Goober.tscn
  Worlds/Cassidy's Purple World/Scene/Player.tscn
  Worlds/Cassidy's Purple World/TileSet.tres
  Worlds/Cassidy's Purple World/World.tscn
Labels: World

#23 Add Justin & Cassidy World
  Worlds/Cassidy's Purple World/2.tscn
Labels: World

#47 Add “FelipeWorld”
  Worlds/FelipeWorld/0.tscn
  Worlds/FelipeWorld/1.tscn
  Worlds/FelipeWorld/2.tscn
  Worlds/FelipeWorld/3.tscn
  Worlds/FelipeWorld/999.tscn
  Worlds/FelipeWorld/World.tscn
Labels: World

#49 Add “Camille World”
  Worlds/Camille World/0.tscn
  Worlds/Camille World/1.tscn
  Worlds/Camille World/2.tscn
  Worlds/Camille World/3.tscn
  Worlds/Camille World/999.tscn
  Worlds/Camille World/World.tscn
Labels: World

#60 Add “Devon World”
  Worlds/Devon World/0.tscn
  Worlds/Devon World/1.tscn
  Worlds/Devon World/2.tscn
  Worlds/Devon World/3.tscn
  Worlds/Devon World/999.tscn
  Worlds/Devon World/World.tscn
Labels: World

#94 Goober, Player: Remove trailing whitespace in scripts
  Script/Goober.gd
  Script/Player.gd
Labels: Maintenance

#96 Add Level 3 to Cassidy's Purple World
  Worlds/Cassidy's Purple World/2.tscn
  Worlds/Cassidy's Purple World/3.tscn
Labels: World

#95 Pick up replacement images from world directory
  Scene/Explosion.tscn
  Script/CandySpawner.gd
  Script/Explosion.gd
  Script/Goober.gd
  Script/Player.gd
  Script/ResourceFinder.gd
  Script/World.gd
  Worlds/Cassidy's Purple World/World.tscn
  Worlds/Sample/Image/Candy/.gitkeep
  Worlds/Sample/Image/Explosion/.gitkeep
  Worlds/Sample/Image/Goober/.gitkeep
  Worlds/Sample/Image/Player/.gitkeep
  doc/WorldBuilding.md
Labels: Engineering
